{% extends "base.html" %}
{% load static %}

{% block title %} Zmiana hasła użytkownika {% endblock %}

{% block content %}
<section class="change-password" id="change-password">
    <h2 class="account-heading">Zmiana hasła użytkownika:</h2>
    <form action="#" method="post">
        {% csrf_token %}
        <div class="form-group">{{ form.password }}</div>
        <div class="form-group">{{ form.password2 }}</div>
        <div class="form-group">{{ form.password3 }}</div>
        <div class="form-group">
            <button class="btn" type="submit">Wyślij</button>
        </div>
    </form>
</section>
{% endblock content %}